# Additional ignores.  Note that our global .gitignore also ignores
# stuff we use:  config and Makefile

*.fls
tex-stamp
tex/yoshimi-advanced-reference-manual.pdf
!config
!Makefile
pdf/yoshimi-advanced-reference-manual-unoptimized.pdf
tex/yoshimi-advanced-reference-manual.aux
tex/yoshimi-advanced-reference-manual.fdb_latexmk
tex/yoshimi-advanced-reference-manual.idx
tex/yoshimi-advanced-reference-manual.ilg
tex/yoshimi-advanced-reference-manual.ind
tex/yoshimi-advanced-reference-manual.lof
tex/yoshimi-advanced-reference-manual.log
tex/yoshimi-advanced-reference-manual.lot
tex/yoshimi-advanced-reference-manual.out
tex/yoshimi-advanced-reference-manual.toc

